DATABASE_URL="postgresql://postgres:1234@localhost:5432/weighpro?schema=public"
PORT=3000
JWT_SECRET="super_secret_jwt_key_change_in_prod"
JWT_EXPIRATION="15m"
JWT_REFRESH_SECRET="super_secret_refresh_key_change_in_prod"
JWT_REFRESH_EXPIRATION="7d"
SWAGGER_PATH="/api/docs"
SWAGGER_USER="admin"
SWAGGER_PASSWORD="password"

